h2 {
    border-top: solid 2px #000;
    padding: 20px;
    background-color: #2980B9;
    color: #fff;
    border-radius: 3px;
}

h3 {
    font-size: 125%;
    border-top: solid 1px #ccc;
    padding-top: 15px;
}
._DONE_, ._DOING_, ._TODO_, ._WAITING_{
    padding: 3px;
}
._DONE_{
    background-color: green;
}
._DOING_{
    background-color: yellow;
}
._TODO_{
    background-color: orange;
}
._WAITING_ {
    background-color: fuchsia;
}

#text-table-of-contents span {
    display: none;
}

.tag span{
    background-color: #98B4D4;
    color: #333;
    font-size:100%;
    padding:5px;
    float: none;
    display:inline-block;
}
code{
    background:none;
    border:none;
}
.filaSeleccionada{
    background-color:#fffc59 !important;
    border: dashed 1px #000;
    font-weight:bold;
}
.HOYES p{
    font-size: 1em;
    font-weight: bold;
    margin: 20px;
}
